:root[data-theme="light"] {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
}

:root[data-theme="dark"] {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #1a1a1a;
  --bg_body: #282828;
  --lines-color: #000000;
  --body-text: #ededed;
  --heart-color: #dc143c;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  max-width: 1920px;
}

header {
  background: var(--bg_default);
}

body {
  background-color: var(--bg_body);
  color: var(--body-text);
}

nav {
  background-color: var(--bg_default);
  display: flex;
  justify-content: space-between;
}

header ion-icon {
  font-size: 15px;
  margin-right: 5px;
  font-weight: bold;
}

.logo {
  color: var(--brand-primary);
  margin: 30px 0 30px 50px;
}

nav .btns {
  justify-content: center;
  margin: 30px 50px 30px 0;
}

button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  color: var(--body-text);
  width: 110px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--lines-color);
  background-color: var(--bg_default);
  cursor: pointer;
  transform: all 0.2s ease;
}

.triangle1,
.triangle2 {
  position: absolute;
  width: 100%;
  height: 55px;
}

.triangle1 {
  left: 0;
  background-image: linear-gradient(
    to right,
    #0768ac,
    #0768ac,
    transparent 80%
  );
  clip-path: polygon(0% 0%, 0% 100%, 100% 0%); /* Defines the triangle shape */
  z-index: 2;
}

.triangle2 {
  right: 0;
  background-image: linear-gradient(to left, #03c180, #03c180, transparent 90%);
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%
  ); /* Defines the triangle shape */
  z-index: 1;
}

.web-header {
  color: var(--brand-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.web-header p {
  color: var(--body-text);
}

.searchContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--bg_body);
  border-radius: 55px;
  margin: 30px 50px 15px 50px;
}

.input-bar {
  display: flex;
  width: 100%;
}
.search-bar {
  display: flex;
  background: var(--bg_default);
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border: solid 1px var(--lines-color);
  box-shadow: 0px 0px 1px 0px var(--lines-color);
}

.search-bar input {
  color: var(--body-text);
  background-color: var(--bg_default);
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
}

.search-icon {
  font-size: 22px;
  padding: 15px;
}

.searchResult {
  margin-left: 50px;
}

/*=================== Change it to drop down list =================*/
.filter-select {
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
}

.select-style1,
.select-style2 {
  border-left: 2px solid var(--lines-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 150px;
}

.filter-select p {
  padding-left: 5px;
  font-size: 12px;
}

.select-dropdown {
  background-color: var(--bg_default);
  color: var(--body-text);
  font-size: 16px;
  border: 0;
  cursor: pointer;
}

/*=================== PROBLEM =================*/

.gallery {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  margin: 25px 50px;
}

.gallery a {
  color: var(--body-text);
  text-decoration: none;
}

/*========================== maintain equal spaces*/
.card {
  height: 330px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px var(--lines-color);
  /* box-shadow: 1px 1px 5px var(--lines-color); */
  background: var(--bg_default);
}

/* .cards:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
} */

img {
  width: 100%;
  background-color: white;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  height: 180px;
}
.category-title,
.course-title,
.author-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-title {
  padding-left: 15px;
}

.course-title {
  font-weight: bold;
  padding-left: 15px;
}

.author-name {
  font-weight: 300;
  padding-left: 15px;
  padding-bottom: 15px;
}

ul {
  list-style: none;
  display: flex;
  color: var(--body-text);
  align-items: left;
  padding-top: 30px;
  padding-left: 15px;
  padding-bottom: 10px;
}

ul ion-icon {
  font-size: 18px;
  color: orange;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 15px 0;
}

footer ion-icon {
  color: var(--heart-color);
}

.fav-bar {
  position: fixed;
  display: none;
  bottom: 0;
  background: var(--bg_default);
  height: 180px;
  width: 100%;
  border-top: var(--lines-color);
  box-shadow: 0px 0px 5px 0px var(--lines-color);
}

.fav-bar h4 {
  margin-top: 15px;
  margin-left: 50px;
  font-size: 18px;
  font-weight: bold;
}

.favGallery {
  display: flex;
  gap: 15px;
  width: 100%;
  justify-content: left;
  align-items: left;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  align-items: left;
}

.fav-card {
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px var(--lines-color);
  transition: 0.4s;
  background: var(--bg_default);
  width: 125px;
  height: 115px;
}
.fav-card img {
  width: 100%;
  height: 60px;
  text-align: center;
}

.fav-card .course-title {
  padding-left: 10px;
}
.fav-card ul {
  padding: 0;
  margin: 0;
  font-size: 6px;
  margin: 0px;
  padding-left: 10px;
}

/*---------------------------Course Page--------------------*/

.grey-area {
  position: absolute;
  z-index: -1;
  background-color: #333333;
  width: 100%;
  height: 240px;
}
.details-page {
  display: flex;
  justify-content: center;
}
.course {
  white-space: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-justify: left;
}

.details {
  color: #ffffff;
  padding: 20px 0;

  width: 500px;
}

.details h5 {
  color: var(--brand-secondary);
}

.details ul {
  margin: 0;
  padding: 0 0 10px 0;
}

.details ion-icon {
  font-size: 12px;
}

.lessons {
  background: var(--bg_default);
  border: Solid 0.5px var(--lines-color);

  border-left: solid 1px var(--lines-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  width: 500px;
  padding: 10px;
  cursor: pointer;
  position: relative;
}
.lessons-container {
  padding: 20px 0;
}
.lessons ion-icon {
  margin-right: 15px;
  color: #03c180;
}

.cta-card {
  color: #333333;
  background-color: #ffffff;
  width: 280px;
  height: 350px;
  justify-content: center;
  border: 1px solid #ededed;
  box-shadow: 0px 0px 15px 0px #333333;
  margin: 20px 0 0 20px;
}

.cta-card img {
  border-radius: 0;
  border: 1px solid (white);
  width: 100%;
  height: 50%;
}

.cta-card h3 {
  font-size: 16px;
  padding-left: 10px;
}

.cta-box {
  color: #333333;
  display: flex;
  margin: 10px;
  flex-direction: column;
  justify-content: center;

  border: 2px solid #ededed;
  background: #ffffff;
}
.cta-box-content {
  color: #333333;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta-box-content h4 {
  align-self: flex-start;
  font-size: 14px;
  padding-left: 25px;
  margin: 5px 0;
}
.cta-box-content h5 {
  align-self: center;
  font-weight: 300;
  margin: 10px 0;
}

.cta-box button {
  border: 0;
  display: flex;
  border-radius: 0;
  height: 55px;
  width: 80%;
  align-self: center;
  font-size: 16px;
  text-align: center;
  align-items: center;
  color: white;
  background: var(--brand-secondary);
}

.add-fav ion-icon {
  font-weight: bold;
  font-size: 24px;
  margin: 5px;
}

/*--------------------- responsive ---------------*/

@media (max-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }
  .card {
    height: 375px;
  }
  img {
    height: 60%;
  }
  .logo {
    margin: 40px;
  }

  nav .btns {
    margin: 40px;
  }

  .web-header {
    margin-bottom: 20px;
  }

  .triangle1,
  .triangle2 {
    height: 40px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  nav .btns {
    display: flex;
    flex-direction: row;

    max-width: 70px;
    height: 40px;
    font-size: 12px;
    margin: 20px 50px 20px 0;
  }
  nav span {
    display: none;
  }
  nav ion-icon {
    padding: 0;
    margin: 0;
  }
  button {
    margin: 0 2px;
  }

  .triangle1,
  .triangle2 {
    height: 35px;
    width: 100%;
  }

  .web-header {
    width: 75%;
    padding: 5px;
    margin: 30px 50px;
    flex-direction: column;
    align-items: left;
    text-align: left;
  }

  .logo {
    margin: 20px 0px 20px 50px;
  }

  .searchContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 70px;
    padding: 0;
  }
  .search-bar {
    padding: 0;

    display: flex;
    flex-direction: column;
    text-align: left;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input {
    text-align: left;
  }
  .search-icon {
    font-size: 18px;
    padding: 15px;
  }

  .select-style1,
  .select-style2 {
    display: flex;
    background-color: var(--bg_default);
    width: 100%;
    border: 1px solid var(--lines-color);
  }

  .select-style1 {
    border-bottom-left-radius: 10px;
  }

  .select-style2 {
    border-bottom-right-radius: 10px;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  }

  img {
    width: 100%;
    height: 55%;
  }
  .card {
    width: 100%;
    height: 325px;
  }

  .card h5 {
    margin-top: 5px;
  }
  .details-page {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .course {
    justify-content: center;
    margin: 0 50px;
  }
  .details {
    width: 100%;
  }
  .lessons-container {
    margin: 10px 0;
  }
  .lessons {
    width: 100%;
  }
  .grey-area {
    height: 320px;
    width: 100%;
  }
  .cta-card {
    margin: 0 50px;
  }
}
